.test-info-details {
  width: 600px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding-left: 24px;
  padding-bottom: 15px;
}

.info-item {
  margin-top: 0%;
}

.test-info-details h1 {
  margin-top: 0%;
}

.test-info-details p {
  font-size: larger;
  margin: 6px 0;
}

.test-info-details ol li::marker {
  font-size: 1.3em;
}

.test-info-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}

.extra-data {
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}
