.editor-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.editor-container {
  cursor: text;
}

.ProseMirror {
  outline: none;
  padding: 10px;
  min-height: 100px;
}

.ProseMirror p {
  margin: 0 0 10px 0;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.editor-container ol li::marker {
  font-size: 1.2em;
  color: #000;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-left: 0;
  list-style-position: outside;
}

.ProseMirror li {
  margin-left: 1.5em;
}

.ProseMirror li[style*="text-align: center"] {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.ProseMirror li[style*="text-align: right"] {
  direction: rtl;
  text-align: right;
  margin-left: auto;
  margin-right: 1.5em;
}